
@{
    ViewBag.Title = "Product";
}
<h2>COMP2007 - Lab 1</h2>
<ul>
    <li>@Html.ActionLink("Laptop", "Details", "Products", new { Product = "Laptop" }, null)</li>
    <li>@Html.ActionLink("Tablet", "Details", "Products", new { Product = "Tablet" }, null)</li>
    <li>@Html.ActionLink("Desktop", "Details", "Products", new { Product = "Desktop" }, null)</li>
</ul>

